* {
    font-family: 'Playfair Display', serif !important;
}
body {
    font-family: 'Playfair Display', serif;
}

.instrument {
    font-family: 'Playfair Display';
    font-size: 12px;
    font-style: italic;
}

#wrapper {
    width: 970px;
    margin: auto;
}

#home {
    width: 910px;
    margin: auto;
    background-image: url(FOTO.jpg);
    height: 600px;
    background-size: cover;
    clear: both;
}

#home .header {
    font-size: 70px;
    text-align: center;
    color: #222222;
}
#home .players {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 27px;
}
#home .player {
    display: block;
    /* background: #0000004a; */
    float: left;
    clear: left;
}
#home .player a {
    color: white; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}

#footer {
    text-align: center;
    color: grey;
    font-size: 12px;
    margin-top: 20px;
}
img {
    width: 100%;
}

#nav {
    height: 80px;
    clear: both;
}

#nav ul.social {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav ul.social li {
    vertical-align: middle;
    display: inline;
    margin-right: 7px;
}
#nav ul.social li a {
    line-height: 70px;
    vertical-align: middle;
    text-decoration: none;
}
#nav ul.social li a img {
    vertical-align: middle;
    width: 30px;
}

#nav ul.links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#nav ul.links li {
    float: left;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 25px;
}
#nav ul.links li a {
    text-decoration: none;
    color: black;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    /* ...and now for the proper property */
    transition: 0.5s;
}
#nav ul.links li a.selected {
    color: #adadad;
}
#nav ul.links li a:hover {
    color: #adadad;
}

.biografie .photo {
    background: url(https://lh3.googleusercontent.com/Ghzg5F3y4neaGEEdW-PC-022Yik13UwpzAMMPt5Fm1mbdcwDKUBTrh2PmtJUDSdeS5AKgfqXdV2QHEE6Zs1mf3qbDgPMYQ9eqQBY2rdnjmiySG2dWD5m-osVlBWmHdmgSnQLOfacWRK4N3sZmtiVaArkK_Hbt6ji9j5cp5eQ-Zmg470853FbT134FTdyg_g21J5w4bq0JhyPsHWnN18nF3TEjEHQ_K-eLY3zWqhhsf7rULBffZsPvI99EAQdZa149WsgpK654ZyH4baIIHD8qWif1DiQDfT2KGM6nhlbXM__U_TdjRXO7yqJTVRRHdhyqYRe6pHDQoAAXgugmkccuq97dyXdf-f741BOIdxKdoTULe0gjUtFyR4TfM0AlSkio3Odk3lfbayYUqXqvdV89TlOr8OUgu0HJJ_B-leQDOxwSTu4ca0o2k5hpJyK4xTOOjgV38LL8m_AKf10JuztMPKcW5KK6g83BIEqDJRM0c2mmV_hAeUJqJ671CSCAd4iPokEx0TlShNmuJogFyP8Xiqqp2Ks35D40mP-lWHQQcWBNIe3SuxTEnrwG9vzuBc8AAnnxhcovigbWJbEc2R8yljMBWLVphHOt4F1wh2TvLg0drNDKVbjfmeNi4zw0vkjDEgzKiKz5OmTSEo3ht6319Q0Y9fZuh9OzaCqskTjYxUHVuYI-SI_QNA=w2298-h1532-no);
    background-size: cover;
    height: 450px;
}

.agenda .photo {
    background: url(https://lh3.googleusercontent.com/9cd-dZOrTcRNsjV8pGDQ5AozXBAFyTlbuL-TmY0XGAG0dnN20D7n5DurwWMs75Q5dNwD7qXfO4auhIDepw5cw7atYSu5hUJONPnefbGRtkIOsP2K2DHfLAdhtpSWqx8WfACVCF0q_z1Owts6n09Qnpb8SHEGDVBJx34soy2qLWfot3bUC266hWoBo29SqEqsXKfeGJpezSD07AUwXPKPo7Xa5jLg0bCKpJGzkFS_4hBHIlt-B8EJPIyFIrmgpqEPnECxwxspVTgSZxUlR50CHbbFMI2NCRJA3j6KgkSXbcDrkz8BT2gbNdJmgGLW8gE0N7zVbxehA7oD58BRv6U5Okr2zMpG9Abf29UcHpJex0XqE1B0mr6Vt1aH_eFpb4BXSPpOfN9GNCDs5oq5XRDOdxiMQewzzGZpz_nIwJmJhKS12KiwW6JW75whIUa22fi6g2OYgPGcZVN5ulXm7_itWykcqStGct1ifKo7IMsSq3rGIBFJCAb14wt9ZhBiO_qlQGNkCi49Hum3v-n6xT1MlbMxCcoQzykUuiEYoFZMdOpGq5ilSV9-HnwcHgcFjfwzQvCveki-aY-bzu5dN1ALZ144EyV8k7pLPmEMx9xhVShgF561ECJZCkoDPVzt8XH_pCO702T4b0viK9m2x4uupM_IZHemtiusGewdA5l13YeVktltpUIyNHE=w2298-h1532-no);
    background-size: cover;
    height: 510px;
}
