* {
    font-family: 'Playfair Display', serif !important;
}
body {
    font-family: 'Playfair Display', serif;
}

.instrument {
    font-family: 'Playfair Display';
    font-size: 12px;
    font-style: italic;
}

#wrapper {
    width: 970px;
    margin: auto;
}

#home {
    width: 910px;
    margin: auto;
    background-image: url(FOTO.jpg);
    height: 600px;
    background-size: cover;
    clear: both;
}

#home .header {
    font-size: 70px;
    text-align: center;
    color: #222222;
}
#home .players {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 27px;
}
#home .player {
    display: block;
    background: #0000004a;
    float: left;
    clear: left;
}
#home .player a {
    color: white; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}

#footer {
    text-align: center;
    color: grey;
    font-size: 12px;
    margin-top: 20px;
}
img {
    width: 100%;
}

#nav {
    height: 80px;
    clear: both;
}

#nav ul.social {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav ul.social li {
    vertical-align: middle;
    display: inline;
    margin-right: 7px;
}
#nav ul.social li a {
    line-height: 70px;
    vertical-align: middle;
    text-decoration: none;
}
#nav ul.social li a img {
    vertical-align: middle;
    width: 30px;
}

#nav ul.links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#nav ul.links li {
    float: left;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 25px;
}
#nav ul.links li a {
    text-decoration: none;
    color: black;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    /* ...and now for the proper property */
    transition: 0.5s;
}
#nav ul.links li a.selected {
    color: #adadad;
}
#nav ul.links li a:hover {
    color: #adadad;
}
