* {
    font-family: 'Playfair Display', serif !important;
}
body {
    font-family: 'Playfair Display', serif;
}

.instrument {
    font-family: 'Playfair Display';
    font-size: 12px;
    font-style: italic;
}

#wrapper {
    width: 970px;
    margin: auto;
}

#home {
    width: 910px;
    margin: auto;
    background-image: url(FOTO.jpg);
    height: 600px;
    background-size: cover;
    clear: both;
}

#home .header {
    font-size: 70px;
    text-align: center;
    color: #222222;
}
#home .players {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 27px;
}
#home .player {
    display: block;
    /* background: #0000004a; */
    float: left;
    clear: left;
}
#home .player a {
    color: white; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}

#footer {
    text-align: center;
    color: grey;
    font-size: 12px;
    margin-top: 20px;
}
img {
    width: 100%;
}

#nav {
    height: 80px;
    clear: both;
}

#nav ul.social {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav ul.social li {
    vertical-align: middle;
    display: inline;
    margin-right: 7px;
}
#nav ul.social li a {
    line-height: 70px;
    vertical-align: middle;
    text-decoration: none;
}
#nav ul.social li a img {
    vertical-align: middle;
    width: 30px;
}

#nav ul.links {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#nav ul.links li {
    float: left;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 25px;
}
#nav ul.links li a {
    text-decoration: none;
    color: black;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    /* ...and now for the proper property */
    transition: 0.5s;
}
#nav ul.links li a.selected {
    color: #adadad;
}
#nav ul.links li a:hover {
    color: #adadad;
}

.biografie .photo {
    background: url(https://lh3.googleusercontent.com/KTIAYIWMtrP6YzlLU6TNWXL0vlc_Rsjuf2yQY8cCkwmfWVLU6sCp6YDu9LMI9q1hIi1Ye3sdm_DRoU3-7vaH87qNSzK-1mPOR-saS3lTX10Xs_9aUf9UsdcqFNfvIgpT-eu0uUXALA=w2298-h1532-no);
    background-size: cover;
    height: 450px;
}

.agenda .photo {
    background: url(https://lh3.googleusercontent.com/PbHSxcMP4QDUUapPQZdA1fxwMnlii7MUtBG7FUrcPA9HHAsk1QnbyjH7utb1nrU7zW8AAIKME9tkH5Vp8j2BNmCND6eqJnf3duxQNsv2CTJGXd3ujKjHsmv74sd_LmC9r7FpRIAI4tKcO99jfG11M2C8Xo0c3HPjeMogFOvf3T7qq_JX_JNlYpL85wf6i9UOsQfdL4fWN1qqjPUCc42w1eyNoTlGQZaldX7lA3Yq7BA9rNkZT_rIujoJpmR8JmfQAsBXu5I7WH6s7VrkS6kNEiilZDIMzw6HMONvUZs5knDVnrPmmqNHbKhiuXqoTxjgMikpzUjIqbQVFJy_Er7ciptYc_8TJQz8OcOQuAU9iCYud8XjrsltUaTpS2yJgZkpeVIx8Qza7m9_psQjIiQQ4L1CQW9eMti-VDd3ByaTnpdRzkPEyLfvgUFpLJSN-D4hiIFrzRhTB-Xkifb0ygZAmVftiW2x1uHS9cb-MInQukwaiHPNIPO5nFBwlTW6GLX2g77Ai2a4XNmzKZLqQjLr0yi7Indst6mKHrstvzKy8TaY8D8r8Ygj7tZ94rZVeDJRTjwkwzornR3zj7eZrOAn1y-7kbTgQnPL26oSvH1XQqDcA1zikYZXBJB1=s2298-w2298-h1532-no);
    background-size: cover;
    height: 510px;
}

.contact .photo {
    background: url(https://lh3.googleusercontent.com/VnlaA_KhDnp-LzlHd0zuhD_Ycz6JGRw3iHuqm7Otso3XCfVAkZ90TjwUCju27eIGV4RklV1LNH2rojioTBFDE1D1if39VLca0PiicjT22LL3ns07RN6kbR0x_XncFHK_4cyZgoyijlIuLzKAnT9tTkH0BNSRTZyKLQU8GlMywqFcHNFCgduSPEOH_jlufC8d76SRf-CrfoFao5IdWd5hZdnEengKezMHR7kSuO9rSFRqQqHU4RD_zVtiLnX9H1htUAa3vPqdTajrabFKI9qv3JV8KLXgZ4Q14SWqqio5SW6maxRFICJu5hVSnnPq8K3ag4ivnIeZ7OmEPYnhnWOWAu86SsPg8pxvRT3m2LwUUXhP3dm1eLhXzdLFyK6FOdsf9G0ndU12dEqQ1Q5DIcTMh7jTjbblzhac_Y4Sdy2dfUqfnZGmZjsSlO_t35otLtUpHHRi9U5YQ3vbTSStH3ZkDF7ODvUutYcQGGqxDZau0fmeuYalDxcfFtWMPHs-1_LBmdEZi2BU_iPyYP0O1zZkPgcUO063WLfYxxCP2G3N30PieZqYbzPOgupIyaM9EB3iT9VgIGFbEPO5vjmTXcj1gbxekTrzaypchBuzqRYzkP_Fznoy_dJU6TeB=s2298-w2298-h1532-no);
    background-size: cover;
    height: 700px;
    background-position: center;
    margin-top: -90px;
}
.contact p {
    text-align: center;
    padding-top: 30px;
}
.contact p a {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: black;
}

.fotos img {
    float: left;
    width: 50%;
    height: 320px;
}
.fotos {
    clear: both;
    margin-bottom: 30px;
}
